@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="tw-inline-flex tw-items-center tw-rounded-md tw-bg-primary tw-text-white tw-text-sm tw-font-medium tw-px-4 tw-py-2 hover:tw-bg-primary/90 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-primary tw-transition" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
